@page
@model IndexModel
@{
    ViewData["Title"] = "Hjemlig";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hjemlig</h1>

    <h2>Hjemlig>Nemlig</h2>

    <h4>Hjemlig har dyre advokater, ik vær uening >:)</h4>
    <h4>Hjemlig har dyre advokater, ik vær uening >:)</h4>
    <h4>sebs branch fuck yea</h4>

</div>
