@page
@model Hjemlig2._0.Pages.InformationModel
@{
}
<h2>Om Hjemlig.com</h2>
<p></p>
<h5>Ekstremt vanedannende handlefrihed hos Hjemlig.com - du får:</h5>
<p></p>
<h5>Samme priser og antal varer som i Nettos faste discountsortiment - se udvalget her eller brug filtrene på sitet</h5>
<p></p>
<h5>Hurtig levering</h5>
<p></p>
<h5>Mere end 1.700 økologiske varer - se mere økologi her eller brug filtrene på sitet</h5>
<p></p>
<h5>Et stort udvalg af Danmarks bedste specialbutikker, herunder Lagkagehuset, A.C. Perch's Thehandel og Slagter Lund - se vores specialbutikker</h5>
<h5>Mange gode tilbud hver uge - se ugens tilbud</h5>
<p></p>
<h5>Slut med parkeringsbøvl, stressende ulvetimer og små børn, der plager. Slut med dyre impulskøb og lange kassekøer. Slut med ubelejlige åbningstider og uinspirerende hyldelabyrinter. Slut med at bruge kostbar kvalitetstid i - og på vej til og fra - supermarkedet.</h5>
<h5>Vi har kort sagt skabt det 100% fleksible supermarked, der gør det hele lidt nemmere for dig. Aldrig længere væk end din computer, smartphone eller tablet og altid tilgængeligt.</h5>
<h5>Eller sagt med andre ord: Nu er det dig, der bestemmer. Nemlig!</h5>
<p></p>
<h5>Drengene</h5>
<h5>Adm. direktør / stifter</h5>
<p></p>
<h5>Hjemlig.com</h5>
<h5>- Dagligvarer når det passer dig</h5>
<p></p>
<p></p>
    <h2>FAQ:</h2>
    <h5>Er i en nemlig klon?</h5>
    <h5>Nope</h5>
    <p></p>
    <h5>Hvad gør i i forhold til covid 19?</h5>
    <h5>Vores medarbejdere bliver testet flere gange ugenligt, spritter hænder jævnligt, og dine varer leverers uden kontakt ved døren</h5>
    <p></p>
    <h5>Hvad koster fragt?</h5>
    <h5>29 Kr</h5>  
    <p></p>
    <h5>Hvorfor skal man bestille for mindst 200kr?</h5>
    <h5>Ellers taber vi profit</h5>
    <p></p>
    <h5>Telefonnummer: +4512312312 </h5>
